{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                com.github.liquidz/testdoc {:mvn/version "1.5.103"}
                orchestra/orchestra {:mvn/version  "2021.01.01-1"}}}

  :1.9
  {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :1.10
  {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :test-clj
  {:main-opts ["-m" "kaocha.runner"]}

  :test-cljs
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}}
   :main-opts ["-m" "cljs-test-runner.main"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.8.162" :git/sha "799b47e"}}
   :ns-default build-edn.main}}}
