{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}
                lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
                testdoc/testdoc {:mvn/version "1.4.1"}
                orchestra/orchestra {:mvn/version  "2021.01.01-1"}
                org.clojure/test.check {:mvn/version  "1.1.0"}}}

  :1.9
  {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage"]}

  :depstar
  {:extra-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
   :ns-default hf.depstar
   :exec-args {}}

  :deploy
  {:extra-deps {slipset/deps-deploy {;:mvn/version "RELEASE"
                                     :git/url "https://github.com/slipset/deps-deploy"
                                     :sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {}}}}
