{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                lambdaisland/kaocha-cljs {:mvn/version "1.0.107"}
                com.github.liquidz/testdoc {:mvn/version "1.5.98"}
                orchestra/orchestra {:mvn/version  "2021.01.01-1"}}}

  :1.9
  {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :1.10
  {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.3.90" :git/sha "e3a3e31"}}
   :ns-default build-edn.main}}}
