{
 :linters {:unresolved-symbol
           {:exclude [(clojure.test/is [testdoc])
                      (merr.core/let)
                      ]
            }

           :unused-binding
           {:exclude-destructured-keys-in-fn-args true
            }
           }

 :lint-as {merr.core/-> clojure.core/->
           merr.core/->> clojure.core/->>
           }

 }

