name: lint
on: [push]
jobs:
  clj-kondo:
    runs-on: ubuntu-latest
    # container:
    #   image: borkdude/clj-kondo
    # steps:
    #   - uses: actions/checkout@v2
    #   - name: lint by clj-kondo
    #     run: clj-kondo --lint src:test
    steps:
      - uses: actions/checkout@v2
      - name: Lint by clj-kondo
        run: docker run --rm -v $(pwd):/tmp/work -w /tmp/work borkdude/clj-kondo clj-kondo --lint src:test

  cljstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          curl -sfLo cljstyle.tar.gz https://github.com/greglook/cljstyle/releases/download/0.12.0/cljstyle_0.12.0_linux.tar.gz
          tar xvf cljstyle.tar.gz
          ./cljstyle check
